.button3D {
    width: 80%;
    height: 65px;
    font-size: x-large;
    margin: 45px auto 0;
    border-radius: 40px;
    border: 1px solid transparent;
    box-shadow: 4px 8px 16px white;
    color: white;
    background: linear-gradient(180deg, #FF79DA 27%, #9356DC 116.75%);
    cursor: pointer;

    p {
        font-size: larger;
    }

    &:hover {
        animation: shadow 0.4s linear both;
    }
    @keyframes shadow {
        0% {
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
            background: linear-gradient(180deg, #FF79DA 27%, #9356DC 116.75%);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        }
    }
    
}