$green: #99E2D0;
$gris: #F2F2F2;

.container {
    padding: 0;
    background-color: $gris;

    header {
        background-color: white;
        padding-top: 30px;
    }
    main {
        background-color: $gris;
        position: relative;
        bottom: 62px;
        z-index: 100;
        border-top-left-radius: 55px;
        border-top-right-radius: 55px;
        padding: 30px 15px 0;
        display: flex;
        flex-direction: column;
    
        .title {
            display: grid;
            grid-template-columns: 80% 20%;
            align-items: center;
            margin-bottom: 30px;        
            
            h2 {
                font-size: xx-large;
                font-weight: bolder;            
            }
            .far {
                justify-self: center;
                // animation: rotate-up 2s linear both;
                    
                // @keyframes rotate-up {
                //     0% {
                //         background: #892cdc;
                //         border-radius: 0% 0% 50% 50%;
                //     }
                //     50% {
                //         background: #892cdc;
                //         border-radius: 50% 50% 0% 0%;
                //     }
                //     100% {
                //         background: #892cdc;
                //         border-radius: 50% 50% 0% 0%;
                //     }
                // }
            }

            // .icon {
            //     width: 200px;
            //     path {
            //         fill: transparent;
            //         stroke-width: 10;
            //         stroke: #892cdc;
            //     }

            // }
        }
    }
    
    article {
        h2 {
            font-size: larger;
            margin: 20px 0;

            // background-image: linear-gradient(to right, #373737 4%, #c0b283 20% );
            // background-clip: text;
            // color: transparent;
        }
        &:nth-child(1) h2{
            margin-top: 0;
        }
        .trait {
            width: 15%;
            border: 2px solid $green;
            position: relative;
            bottom: 15px;
        }
        
        &:nth-child(3) {
            .trait {
                width: 10%;
            }
            // h2 {
            //     background-image: linear-gradient(to right, #373737 4%, #c0b283 6%);
            // }
        }
        &:nth-child(4) {
            .trait {
                width: 12%;
            }
            // h2 {
            //     background-image: linear-gradient(to right, #373737 3%, #c0b283 17%);
            // }
        }
    }
}
