*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}


footer {
    background: #444;
    height: 250px;
    display: grid;
    align-items: center;
    padding: 20px;
    
    a {
        font-size: medium;
        color: white;
        text-decoration: none;
        outline: 0;
        
        &:nth-child(1) {
            font-size: small;
            font-weight: bold;
        }
    }
    
    .footerItem {
        
        &:nth-child(1) a {
            margin-left: 10px;
        }
        &:nth-child(2) a {
            margin-left: 10px;
        }
        
        .fa, .fas:nth-child(1) {
            font-size: larger;
            /* margin-right: 10px; */
            color: #ffffff;
        }
        .fas .fa-hands-helping  {
            font-size: small;
        }
    }
}

