header {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0px;
  font-size: smaller;
}

header form {
  height: 390px;
  background-color: #F9F9F9;
  text-align: center;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

header form .search {
  width: 100%;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  position: relative;
}

header form .search label {
  position: absolute;
  left: 60px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header form .search input[type="search"] {
  width: 100%;
  height: 40px;
  background-color: #F2F2F2;
  font-size: large;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 4px 8px 16px inset #B6B6B6;
          box-shadow: 4px 8px 16px inset #B6B6B6;
  border: 1px solid transparent;
  outline: none;
}

header form .search button {
  display: none;
}

header form h1 {
  padding: 10px 20px 0;
  margin: 0;
}

header form p {
  padding: 0 5px;
}

header form button {
  width: 80%;
  height: 65px;
  margin: 15px 0 25px 0;
  border-radius: 40px;
  border: 1px solid transparent;
  -webkit-box-shadow: 4px 8px 16px white;
          box-shadow: 4px 8px 16px white;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(27%, #FF79DA), color-stop(116.75%, #9356DC));
  background: linear-gradient(180deg, #FF79DA 27%, #9356DC 116.75%);
  cursor: pointer;
}

header form button span {
  display: inline-block;
  font-size: larger;
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
}

@media (min-width: 500px) {
  header form {
    height: 200px;
    -ms-grid-rows: 45px 50px 100px;
        grid-template-rows: 45px 50px 100px;
    justify-items: start;
    padding: 20px 0 20px 20px;
    text-align: initial;
  }
  header form .search {
    width: 470px;
    height: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  header form .search label {
    position: relative;
    left: 0;
    width: 70px;
    height: 100%;
    display: -ms-grid;
    display: grid;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
  }
  header form .search label input[type="image"] {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    position: absolute;
  }
  header form .search input[type="search"] {
    height: 100%;
    background: white;
  }
  header form .search button {
    display: block;
    width: 405px;
    height: 100%;
    font-size: large;
    margin: 0;
    border-radius: 0 40px 40px 0;
  }
  header form .search button::before {
    content: "Explorer nos restaurants";
  }
  header form button {
    display: none;
  }
  header form h1 {
    padding: 0;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

@media (min-width: 1024px) {
  header {
    margin-top: 0;
  }
  header .logo {
    padding-top: 20px;
  }
  header form .search {
    width: 570px;
  }
}

.header-Menu .item-logo {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 10% 80% 10%;
      grid-template-columns: 10% 80% 10%;
  align-items: center;
}

.header-Menu .item-logo .logo {
  -ms-grid-column-align: center;
      justify-self: center;
}

.header-Menu .item-logo .arrow {
  -ms-grid-column-align: end;
      justify-self: end;
}

.header-Menu .img {
  height: 360px;
  width: 100%;
  margin-top: 20px;
}

.header-Menu .img img {
  height: 360px;
  width: 100%;
  background-color: #333;
  background-size: cover;
  background-position: center;
}

main article .card {
  height: 280px;
  width: 100%;
  color: #333;
  text-decoration: none;
  outline: 0;
  margin: 30px 0;
  border-radius: 20px;
  -webkit-box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
  position: relative;
}

main article .card .img {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
}

main article .card:nth-child(2) .img {
  background-image: url("../images/acceuil/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

main article .card:nth-child(2)::before, main article .card:nth-child(3)::before {
  content: "Nouveau";
  width: 100px;
  height: 40px;
  font-size: larger;
  font-weight: bolder;
  border-radius: 2px;
  background-color: #99E2D0;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  position: absolute;
  top: 40px;
  right: 20px;
}

main article .card:nth-child(3) .img {
  background-image: url("../images/acceuil/stil-u2Lp8tXIcjw-unsplash.jpg");
}

main article .card:nth-child(4) .img {
  background-image: url("../images/acceuil/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

main article .card:nth-child(5) .img {
  background-image: url("../images/acceuil/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

main article .card .item {
  height: 80px;
  width: 100%;
  font-size: larger;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  -ms-grid-rows: 30px 28px;
      grid-template-rows: 30px 28px;
  padding: 12px 25px 10px 12px;
}

main article .card .item h3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-start;
}

main article .card .item p {
  font-size: large;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-start;
}

main article .card .item svg {
  cursor: pointer;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-end;
}

main aside .card {
  width: 100%;
  height: 80px;
  margin: 20px 0;
  background-color: #F9F9F9;
  border-radius: 25px;
  -webkit-box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main aside .card .fa, main aside .card .fas:nth-child(2) {
  font-size: larger;
  margin-right: 10px;
}

main aside .card .indicePosition {
  width: 27px;
  text-align: center;
  font-size: larger;
  color: white;
  background-color: #9356DC;
  -webkit-clip-path: circle(48%);
          clip-path: circle(48%);
  position: relative;
  right: 12px;
  height: 28px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main aside .card img {
  margin-right: 10px;
}

@media (min-width: 768px) {
  main aside figure:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  main aside figure:nth-child(3) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  main aside figure:nth-child(4) {
    min-width: 232px;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  main article .card:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  main article .card:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  main article .card:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  main article .card:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

@media (min-width: 1024px) {
  main aside .card {
    margin: 55px 0;
    max-width: 370px;
  }
  main article .card {
    width: 85%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

article:nth-child(2) {
  animation: card-blur 1.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) alternate-reverse both;
}

article:nth-child(3) {
  animation: card-blur 3.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) alternate-reverse both;
}

article:nth-child(4) {
  animation: card-blur 5.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) alternate-reverse both;
}

article .card-Menu {
  width: 100%;
  height: 80px;
  margin: 20px 0;
  padding-left: 10px;
  background-color: white;
  cursor: pointer;
  border-radius: 15px;
  -webkit-box-shadow: 4px 8px 16px rgba(255, 255, 255, 0.3);
          box-shadow: 4px 8px 16px rgba(255, 255, 255, 0.3);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  -ms-grid-rows: 40px 20px;
      grid-template-rows: 40px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 5px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  float: left;
  animation: card-blur 1.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) alternate-reverse both;
}

article .card-Menu:nth-child(4) {
  animation: card-blur 2.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) alternate-reverse both;
}

article .card-Menu:nth-child(5) {
  animation: card-blur 3.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) alternate-reverse both;
}

article .card-Menu:hover {
  -webkit-transform: translate(0, 5px);
          transform: translate(0, 5px);
  border: 1px solid #99E2D0;
}

article .card-Menu h3 {
  margin-bottom: 3px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

article .card-Menu p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

article .card-Menu .checkbox {
  height: 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

article .card-Menu .checkbox .check {
  display: none;
}

article .card-Menu .checkbox span {
  margin: auto;
  margin-bottom: 22px;
}

article .card-Menu:hover .checkbox .check {
  height: 100%;
  width: 60%;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: slidein 1000ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: slidein 1000ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

article .card-Menu:hover .checkbox .check input[type="checkbox"] {
  width: 0;
  height: 0;
  opacity: 0;
}

article .card-Menu:hover .checkbox .check img {
  margin: auto;
  -webkit-animation: rotate-up 0.65s linear both;
          animation: rotate-up 0.65s linear both;
}

@media (min-width: 768px) and (max-width: 1023px) {
  article .card-Menu {
    height: 155px;
    width: 90%;
    padding-left: 0;
    margin: 10px auto;
    text-align: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 40px 50px 65px;
        grid-template-rows: 40px 50px 65px;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  article .card-Menu h3 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  article .card-Menu p {
    white-space: normal;
  }
  article .card-Menu .checkbox {
    position: relative;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    grid-row: 3/3;
  }
  article .card-Menu:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  article .card-Menu:hover span {
    position: relative;
    top: -25px;
  }
  article .card-Menu:hover .checkbox {
    width: 100%;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  article .card-Menu:hover .checkbox .check {
    width: 100%;
    height: 50px;
    border-radius: 0 0 15px 15px;
    position: absolute;
    bottom: -6px;
    -webkit-animation: slidein-bottom 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
            animation: slidein-bottom 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  article .card-Menu:hover .checkbox .check input[type="checkbox"] {
    margin: 0;
  }
}

main article .card .item svg:hover path {
  fill: url(#bg);
  fill: url(#bg1);
  fill: url(#bg2);
  fill: url(#bg3);
  stroke: transparent;
  -webkit-transition: 2s;
  transition: 2s;
}

main article .card .item svg path {
  fill: transparent;
  stroke-width: 15px;
  stroke: #333;
}

main article .card:nth-child(2) .img, main article .card:nth-child(3) .img, main article .card:nth-child(4) .img, main article .card:nth-child(5) .img {
  background-color: #333;
  background-size: cover;
  background-position: center;
}

.logo {
  text-align: center;
}

.logo, h1 {
  font-family: 'Shrikhand', cursive, sans-serif;
}

h1 {
  font-size: x-large;
  font-weight: bolder;
}

.container h2 {
  font-size: x-large;
}

.container h3 {
  font-size: medium;
}

.container p {
  font-size: large;
}

.container-Menu h2, .container-Menu h3 {
  font-size: larger;
  font-weight: bold;
}

.container-Menu h3, .container-Menu p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-Menu p {
  font-size: small;
}

footer a {
  font-size: medium;
  color: white;
  text-decoration: none;
  outline: 0;
}

footer a:nth-child(1) {
  font-size: small;
  font-weight: bold;
}

footer .footerItem .fa, footer .footerItem .fas:nth-child(1) {
  color: #ffffff;
  font-size: larger;
}

footer .footerItem .fas .fa-hands-helping {
  font-size: small;
}

#loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #042104;
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: opacite 25s ease-out both;
          animation: opacite 25s ease-out both;
}

#loading .loader {
  position: relative;
  -webkit-animation: animateBgColor 10s linear infinite;
          animation: animateBgColor 10s linear infinite;
}

#loading .loader span {
  position: absolute;
  top: 0;
  left: -200px;
  width: 200px;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: rotate(calc(18deg * var(--i)));
          transform: rotate(calc(18deg * var(--i)));
}

#loading .loader span::before {
  content: "";
  position: absolute;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: #00ff0a;
  border-radius: 50%;
  -webkit-animation: animate 2s linear infinite;
          animation: animate 2s linear infinite;
  -webkit-animation-delay: calc(-0.1s * var(--i));
          animation-delay: calc(-0.1s * var(--i));
  -webkit-box-shadow: 0 0 10px #00ff0a, 0 0 20px #00ff0a, 0 0 40px #00ff0a, 0 0 60px #00ff0a, 0 0 80px #00ff0a, 0 0 100px #00ff0a;
          box-shadow: 0 0 10px #00ff0a, 0 0 20px #00ff0a, 0 0 40px #00ff0a, 0 0 60px #00ff0a, 0 0 80px #00ff0a, 0 0 100px #00ff0a;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateX(0) scale(0.5);
            transform: translateX(0) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(200px) scale(1);
            transform: translateX(200px) scale(1);
  }
  100% {
    -webkit-transform: translateX(0) scale(0.5);
            transform: translateX(0) scale(0.5);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateX(0) scale(0.5);
            transform: translateX(0) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(200px) scale(1);
            transform: translateX(200px) scale(1);
  }
  100% {
    -webkit-transform: translateX(0) scale(0.5);
            transform: translateX(0) scale(0.5);
  }
}

@-webkit-keyframes animateBgColor {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes animateBgColor {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@-webkit-keyframes opacite {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opacite {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes card-blur {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}

@keyframes card-blur {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}

@-webkit-keyframes slidein {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}

@keyframes slidein {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}

@-webkit-keyframes rotate-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}

@keyframes rotate-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}

@-webkit-keyframes slidein-bottom {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}

@keyframes slidein-bottom {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}

@-webkit-keyframes shadow {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(27%, #FF79DA), color-stop(116.75%, #9356DC));
    background: linear-gradient(180deg, #FF79DA 27%, #9356DC 116.75%);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(27%, #FF79DA), color-stop(116.75%, #9356DC));
    background: linear-gradient(180deg, #FF79DA 27%, #9356DC 116.75%);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

footer {
  background: #444;
  height: 250px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

footer .footerItem:nth-child(1) a {
  margin-left: 10px;
}

footer .footerItem:nth-child(2) a {
  margin-left: 10px;
}

@media (max-width: 767px) {
  body {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(27%, #FF79DA), color-stop(116.75%, #9356DC));
    background: linear-gradient(180deg, #FF79DA 27%, #9356DC 116.75%);
  }
  body .container,
  body .container-Menu,
  body footer {
    max-width: 580px;
    margin: auto;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  body {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(27%, #FF79DA), color-stop(116.75%, #9356DC));
    background: linear-gradient(180deg, #FF79DA 27%, #9356DC 116.75%);
  }
  body .container,
  body .container-Menu,
  body footer {
    max-width: 1171px;
    margin: auto;
  }
}

/*--( container principale )--*/
.container {
  background: #fff;
  display: -ms-grid;
  display: grid;
  row-gap: 10px;
}

/*--************************* (Footer) *************************--*/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

article {
  background-color: #F9F9F9;
  padding: 30px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

article h2 {
  margin: 10px 0;
}

aside {
  height: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  row-gap: 20px;
}

@media (min-width: 768px) {
  main {
    margin-top: -10px;
  }
  main aside {
    height: 200px;
    background: white;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 32% 31% 31%;
        grid-template-columns: 32% 31% 31%;
    -ms-grid-rows: 40px 110px;
        grid-template-rows: 40px 110px;
    grid-column-gap: 3%;
    row-gap: 0;
  }
  main aside h2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  main article {
    padding-top: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 48% 48%;
        grid-template-columns: 48% 48%;
    -ms-grid-rows: 45px 325px 325px;
        grid-template-rows: 45px 325px 325px;
    grid-column-gap: 3%;
  }
  main article h2 {
    text-align: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media (min-width: 1024px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  main aside {
    width: 27%;
    max-width: 316px;
    background-color: #F9F9F9;
    text-align: center;
    height: 755px;
    padding: 0 20px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main aside h2 {
    margin: 10px 0;
  }
  main article {
    width: 73%;
    background-color: white;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  main article h2 {
    text-align: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}
