// Card Home
main {
    article {
        .card {
            height: 280px;
            width: 100%;
            color: #333;
            text-decoration: none;
            outline: 0;
            margin: 30px 0;
            border-radius: 20px;
            box-shadow: $shadowCard;
            position: relative;
            transition: all 0.2s ease-in-out;
            &:hover {
                transform: translateY(-5px)
            }
            .img {
                width: 100%;
                height: 200px;
                border-radius: 20px 20px 0 0;
            }
            &:nth-child(2) .img {
                @extend %backgraound;
                background-image: url('../images/acceuil/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
            }
            &:nth-child(2)::before, &:nth-child(3)::before {
                content: "Nouveau";
                width: 100px; height: 40px;
                font-size: larger; font-weight: bolder;
                border-radius: 2px;
                background-color: $green-light;
                display: grid;
                align-items: center; justify-items: center;
                position: absolute;
                top: 40px; right: 20px;
            }
            &:nth-child(3) .img {
                background-image: url('../images/acceuil/stil-u2Lp8tXIcjw-unsplash.jpg');
                @extend %backgraound;
            }
            &:nth-child(4) .img {
                @extend %backgraound;
                background-image: url('../images/acceuil/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
            }
            &:nth-child(5) .img {
                @extend %backgraound;
                background-image: url('../images/acceuil/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');
            }
            .item {
                height: 80px;
                width: 100%;
                display: grid;
                grid-template-columns: 80% 20%;
                grid-template-rows: 30px 28px;
                padding: 12px 25px 10px 12px;
                
                h3 {
                    grid-column: 1/2;
                    grid-row: 1/2;
                    align-self: center;
                    justify-self: flex-start;
                }
                p {
                    grid-column: 1/2;
                    grid-row: 2/3;
                    align-self: center;
                    justify-self: flex-start;
                }
                svg {
                    cursor: pointer;
                    grid-column: 2/3;
                    grid-row: 1/2;
                    align-self: center;
                    justify-self: flex-end;
                    @extend %heartHover;
                }
            }
        }
    }
    
    aside {
        .card {
            width: 100%;
            height: 80px;
            margin: 20px 0;
            background-color: $gris;
            border-radius: 25px;
            cursor: pointer;
            box-shadow: $shadowCard;
            display: flex;
            align-items: center;
            transition: all 0.2s ease-in-out;
            &:hover {
                transform: translateY(-5px);
                box-shadow: 0px 0px 10px $violet;
            }
    
            .fa, .fas:nth-child(2) {
                font-size: larger;
                margin-right: 10px;
            }
            .indicePosition {
                width: 27px;
                text-align: center;
                font-size: larger;
                color: white;
                background-color: $violet;
                clip-path: circle(48%);
                position: relative;
                right: 12px;
                height: 28px;
                display: grid;
                align-items: center;
            }
            img {
                margin-right: 10px;
            }


        }
    }
    
    // Tablette 
    @media (min-width: 768px) {
        & {
            aside {
                figure{
                    &:nth-child(2) {
                        grid-column: 1/2;
                        grid-row: 2/3;
                    }
                    &:nth-child(3) {
                        grid-column: 2/3;
                        grid-row: 2/3;
                    }
                    &:nth-child(4) {
                        min-width: 232px;
                        grid-column: 3/4;
                        grid-row: 2/3;
                    }
                }
            }
            article {
                .card {
                    &:nth-child(2) {
                        grid-row: 2/3;
                        grid-column: 1/2;
                    }
                    &:nth-child(3) {
                        grid-row: 2/3;
                        grid-column: 2/3;
                    }
                    &:nth-child(4) {
                        grid-row: 3/4;
                        grid-column: 1/2;
                    }
                    &:nth-child(5) {
                        grid-row:3/4;
                        grid-column: 2/3;
                    }
                }
            }
        }
    }

    // Desktop
    @media (min-width: 1024px) {
        & {
            aside {
                .card {
                    margin: 55px 0;
                    max-width: 370px;
                }
            }
            article {
                .card {
                    width: 85%;
                    justify-self: center;
                }
            }
        }
    }
}


// Card Menu
article {
    &:nth-child(2) {
        animation: card-blur 1.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) alternate-reverse both;
    }
    &:nth-child(3) {
        animation: card-blur 3.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) alternate-reverse both;
    }
    &:nth-child(4) {
        animation: card-blur 5.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) alternate-reverse both;
    }

    .card-Menu {
        width: 100%;
        height: 80px;
        margin: 20px 0;
        padding-left: 10px;
        background-color: white;
        cursor: pointer;
        border-radius: 15px;
        box-shadow: 4px 8px 16px rgba(255, 255, 255, 0.3);
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 40px 20px;
        align-items: center;
        
        // animation au clique
        border-bottom:  5px solid rgba(0, 0, 0, 0.3);
        transition: all 0.1s;
        float: left;
        animation: card-blur 1.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) alternate-reverse both;
    
        &:nth-child(4) {
            animation: card-blur 2.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) alternate-reverse both;
        }
        &:nth-child(5) {
            animation: card-blur 3.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) alternate-reverse both;
        }
        &:hover {
            transform: translate(0,5px);
            border: 1px solid $green-light;
        }
        
        h3 {
            margin-bottom: 3px;
            align-self: flex-end;
        }
        p {
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .checkbox {
            height: 100%;
            grid-column: 2/3;
            grid-row: 1/4; 
            display: flex;  
            column-gap: 20px;
            cursor: pointer;
            
            .tarif {
                margin: auto;
                margin-bottom: 22px;
            }
            .check {
                display: none;
            }
        }
        &:hover {
            .checkbox {
                .check {
                    height: 100%;
                    width: 60%;
                    background-color: $green-light;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                    display: flex;
                    // animation
                    animation: slidein 1000ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    
                    input[type="checkbox"] {
                        width: 0;
                        height: 0;
                        opacity: 0;
                    }
                    img {
                        margin: auto;
                        animation: rotate-up 0.65s linear both;
                    }
                }
            }
        } 
    
        @media (min-width: 768px) and (max-width: 1023px){
            & {
                height: 155px; width: 90%;
                padding-left: 0; margin: 10px auto;
                text-align: center;
                display: grid;
                grid-template-rows: 40px 50px 65px;
                grid-template-columns: 100%;
                transition: all 0.2s ease-in-out;
                h3 {
                    padding: 0 5px;
                    align-self: center;
                }
                p {
                    white-space: normal;
                }
                .checkbox {
                    position: relative;
                    grid-column: 1/2;
                    grid-row: 3/3;
                }
                &:hover { 
                    transform: translateY(-5px);
                    .checkbox {
                        width: 100%;
                        grid-row: 3/4;
                        grid-column: 1/2;
                        flex-direction: column;
                        
                        .tarif {
                            position: relative;
                            top: -34px;
                        }
                        .check {
                            width: 100%; height: 50px;
                            border-radius: 0 0 15px 15px;
                            position: absolute;
                            bottom: 1px;
                            animation: slidein-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                            
                            input[type="checkbox"] {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}    

@media (min-width: 768px) and (max-width: 1023px){
    #charonne {
        position: relative;
        grid-template-rows: 60px 770px;

        .button3D {
            position: absolute;
            transform: translate(36px, -118px);
        }
    }
}