*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    body {
        width: 100%;
        font-family: 'Roboto', sans-serif;
    }
}

footer {
    background: #444;
    height: 250px;
    display: grid;
    align-items: center;
    padding: 20px;
    
    .footerItem {
        
        &:nth-child(1) a {
            margin-left: 10px;
        }
        &:nth-child(2) a {
            margin-left: 10px;
        }
    }
}

@media (max-width: 768px) {
    body {
        background: linear-gradient(180deg, #FF79DA 27%, #9356DC 116.75%);
        .container, 
        .container-Menu, 
        footer {
            max-width: 580px;
            margin: auto;
            width: 100%;
        }
    }
}

@media (min-width: 1024px) {
    body {
        background: linear-gradient(180deg, #FF79DA 27%, #9356DC 116.75%);
        .container, 
        .container-Menu, 
        footer {
            max-width: 1171px;
            margin: auto;
        }
    }
}