header {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    font-size: smaller;

    form {
        height: 390px;
        background-color: $gris;
        text-align: center;
        display: grid;
        justify-items: center;
        
        .search {
            width: 100%;
            height: 38px;
            display: flex;
            z-index: 10;
            position: relative;            
    
            label {
                position: absolute;
                left: 60px;
                align-self: center;
            }
            
            input[type="search"] {
                width: 100%;
                height: 40px;
                background-color: #F2F2F2;
                font-size: large;
                text-align: center;
                cursor: pointer;
                box-shadow: 4px 8px 16px inset #B6B6B6;
                border: 1px solid transparent;
                outline: none;
            }
            button{
                display: none;
            }
        }
        h1 {
            padding: 10px 20px 0;
            margin: 0;
        }
        p {
            padding: 0 5px;
        }
        button {
            width: 80%;
            height: 65px;
            margin: 15px 0 25px 0;
            border-radius: 40px;
            border: 1px solid transparent;
            box-shadow: 4px 8px 16px white;
            color: white;
            background: linear-gradient(180deg, #FF79DA 27%, #9356DC 116.75%);
            cursor: pointer;
            
            span {
                display: inline-block;
                font-size: larger;
                color: white;
                letter-spacing: 1px;
                text-decoration: none;
            }
        }
    }
    
    @media (min-width: 500px) {

        form {
            height: 200px;
            grid-template-rows: 45px 50px 100px;
            justify-items: start;
            padding: 20px 0 20px 20px;
            text-align: initial;

            .search {
                width: 470px;
                height: 50px;
                align-items: center;
                grid-row: 3/4;

                label {
                    position: relative;
                    left: 0;
                    width: 70px;
                    height: 100%;
                    display: grid;
                    background-color: #F2F2F2;
                    border-radius: 10px 0 0 10px;

                    input[type="image"] {
                        align-self: center;
                        justify-self: center;
                        position: absolute;
                    }
                }
                input[type="search"] {
                    height: 100%;
                    background: white;
                }
                button {
                    display: block;
                    width: 405px;
                    height: 100%;
                    font-size: large;
                    margin: 0;
                    border-radius: 0 40px 40px 0;
                    &::before {
                        content: "Explorer nos restaurants";
                    }
                }
            }

            button {
                display: none;
            }
            h1 {
                padding: 0;
                grid-row: 1/2;
            }
        }
    }
    @media (min-width: 1024px) {
        & {
            margin-top: 0;
        }
        .logo {
            padding-top: 20px;
        }
        form .search {
            width: 570px;
        }
    }
}


.header-Menu {
    .item-logo {
        display: grid;
        align-items: center;
        grid-template-columns: 10% 80% 10%;
        align-items: center;
        
        .logo {
            justify-self: center;
        }
        .arrow {
            justify-self: end;
        }
    }

    .img {
        height: 360px;
        width: 100%;
        margin-top: 20px;

        img {
            height: 360px;
            width: 100%;
            background-color: #333;
            background-size: cover;
            background-position: center;
        }
    }
}
