// Color
$gris: #F2F2F2;
$violet: #9356DC ;
$rose: #ff79da ;
$green-light: #99E2D0;
$green: #00ff0a;
$shadowCard: 4px 8px 16px rgba(0,0,0,0.3);


// Héritage
%heartHover {
    &:hover, &:active {
        path {
            fill: url(#bg);
            fill: url(#bg1);
            fill: url(#bg2);
            fill: url(#bg3);
            stroke: transparent;
            transition: .3s;
        }
    }
    path {
        fill: transparent;
        stroke-width: 15px;
        stroke: #333;
    }
}

%backgraound {
    background-color: #333;
    background-size: cover;
    background-position: center;
}


// font
.logo {text-align: center;}
.logo, h1 {
    font-family: 'Shrikhand', cursive, sans-serif;
}
h1 {
    font-size: x-large;
    font-weight: bolder;            
}
h2, h3 {
    font-weight: bold;
}
.container {
    h2 {font-size: x-large;}
    h3 {font-size: medium;}
    p{font-size: large;}
}
.container-Menu {
    h2 {
        font-size: larger;
    }
    h3, p {
        font-size: large;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    p {font-size: small;}

}
footer {
    a {
        font-size: medium;
        color: white;
        text-decoration: none;
        outline: 0;
        
        &:nth-child(1) {
            font-size: small;
            font-weight: bold;
        }
    }
    .footerItem {
        .fa, .fas:nth-child(1) {
            color: #ffffff;
            font-size: larger;
        }
        .fas .fa-hands-helping  {
            font-size: small;
        }
    }
}